@import "../../scss/variables.scss";

.time {
	color: #deb6b6;
	font-size: 20px;
}

.wrapper {
	> div {
		display: flex;
		margin: 0 auto;
		margin-bottom: 30px;
		background-color: $purple;
		color: $white;
		padding: 14px 20px;
		width: 90%;
		height: 230px;
		font-size: 18px;
		border-radius: 10px;

		> a {
			display: block;
			color: $white;
			text-decoration: none;
			justify-content: space-between;
			display: flex;
			align-items: center;
		}

		&.finished {
			background-color: $dark-purple;
		}
	}

	.line {
		width: 100%;
		height: 1px;
		background-color: $dark-purple;
		margin-bottom: 30px;
	}
}
